<div class="dashboard-container">
  <div class="sidebar">
    <div class="sidebar-logo">
      Legacy FA <nb-icon class="logo-icon" icon="log-in"></nb-icon>
    </div>
    <span class="sidebar-line"></span>

    <div class="sidebar-menu">
      <ul>
        <li class="menu-list">
          <a href="" class="active"
            ><nb-icon class="icon-menu" icon="grid"></nb-icon>Dashboard</a
          >
        </li>
        <li class="menu-list">
          <a href=""
            ><nb-icon class="icon-menu" icon="person-add"></nb-icon>Agent</a
          >
        </li>
        <li class="menu-list">
          <a href=""
            ><nb-icon class="icon-menu" icon="layers"></nb-icon>Submmit</a
          >
        </li>
        <li class="menu-list">
          <a href=""
            ><nb-icon class="icon-menu" icon="book-open"></nb-icon>Payroll</a
          >
        </li>
        <li class="menu-list">
          <a href=""
            ><nb-icon class="icon-menu" icon="people"></nb-icon>Staff</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
